
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<main class="d-flex justify-content-center">

    <div>

        <h1 class="text-uppercase"><b>Haluwin Store</b></h1>

        <br />

        <h1>Chào mừng bạn @Session["NameUser"] đến với hệ thống quản lý!</h1>
        <br />
        <h2>
            Đến với trang quản lý web bán hàng, nơi mà chúng tôi cam kết mang đến cho bạn trải nghiệm mua sắm trực tuyến hoàn hảo.
        </h2>
        <br />
        <h2>


            Trang web của chúng tôi được thiết kế để thuận tiện, an toàn và đáp ứng đầy đủ các nhu cầu của khách hàng.

            Để đảm bảo mọi giao dịch diễn ra một cách suôn sẻ và an toàn, chúng tôi tuân thủ nghiêm túc một số luật lệ quản lý:
        </h2>
        <ul>
            <li>
                <h2>
                    Bảo Mật Thông Tin: Chúng tôi cam kết bảo vệ thông tin cá nhân của bạn với các biện pháp an ninh mạnh mẽ, giúp bạn yên tâm khi thực hiện mọi giao dịch.
                </h2>
            </li>
            <li>
                <h2>
                    Quản Lý Sản Phẩm Chất Lượng: Tất cả các sản phẩm trên trang web đều được kiểm tra kỹ lưỡng để đảm bảo chất lượng và đầy đủ thông tin mô tả, giúp bạn có quyết định mua sắm đúng đắn.
                </h2>

            </li>
            <li>
                <h2>
                    Giao Dịch An Toàn: Hệ thống thanh toán được mã hóa đảm bảo an toàn tuyệt đối cho mọi giao dịch tài chính.
                </h2>

            </li>
            <li>
                <h2>
                    Chăm Sóc Khách Hàng Tận Tâm: Đội ngũ chăm sóc khách hàng của chúng tôi luôn sẵn sàng hỗ trợ bạn 24/7, đảm bảo mọi thắc mắc và yêu cầu của bạn được giải quyết một cách nhanh chóng.
                </h2>

            </li>
            <li>
                <h2>
                    Ưu Đãi và Khuyến Mãi Hấp Dẫn: Chúng tôi thường xuyên cập nhật các chương trình khuyến mãi và ưu đãi, giúp bạn tiết kiệm hơn mỗi khi mua sắm.
                </h2>

            </li>
        </ul>
        <h2>
            Hãy thả mình vào thế giới mua sắm trực tuyến tiện lợi và an toàn tại trang quản lý web bán hàng của chúng tôi, nơi đặt chữ "chất lượng" và "phục vụ tận tâm" lên hàng đầu.
        </h2>

    </div>

    <div>

    </div>

</main>

